body {
    background: #404040;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 348px;
}

.form__items-wrapper {
    background: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 6px;
}

.form__card-image {
    height: 20px;
    margin-right: 5px;
}

.form__input {
    border: none;
}

.form__input--number {
    width: 140px;
}

.form__input--date {
    width: 70px;
}

.form__input--cvc {
    width: 70px;
}

.form__submit {
    margin-top: 20px;
}

.errors {
    color: red;
    margin-top: 20px;
}

*:focus {
    outline: none;
}